@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(199, 191, 180);
}

body {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
}

input,
select,
button.clear_filters_btn {
    margin-top: 5px;
}

.list_area {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
}

.up,
.nav_area {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
}

.btn_up {
    padding: 5px 20px;
    display: flex;
    justify-content: space-between
}

.btn_middle {
    padding: 5px 20px;
    display: flex;
    justify-content: left;
}

.btn_down {
    padding: 5px 20px;
    display: flex;
    justify-content: center;
}

.delete_all_btn {
    width: 100%
}

.accept_changes_btn {
    background-color: rgb(159, 217, 159);
    margin: 10px
}

.discard_changes_btn {
    background-color: rgb(238, 138, 138);

}

.add_btn,
.clear_btn {
    width: 47%
}

.add_category_input {
    width: 270px;
}

.header_table_area {
    margin-top: 30px;
}

.hidden {
    display: none;
}

table {
    border-collapse: collapse;
}

.header {
    height: 35px;
    border-collapse: collapse;
    border: 2px solid black;

}


td {
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding: 5px;
    text-align: left;
}


td {
    word-break: break-word;
    border: 1px solid black;
}

table {
    /* very important for darg and drop to work */
    user-select: none;
}

.filter_area {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    align-content: space-around;
    margin-top: 35px
}

.right_filter_area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    align-content: flex-start;
    margin-bottom: 10px;
}

th.empty {
    border: 0;
}

th.id_th,
th.id_category,
th.amount_th,
th.pos_amount {
    width: 50px
}

th.category_th,
th.pos_category {
    width: 240px
}

th.price_th,
th.pos_price {
    width: 100px
}

th.name_th,
th.name_pos {
    width: 300px;
    max-width: 300px;
    word-break: break-all
}

th.desc_th,
th.desc_pos {
    width: 250px;
    max-width: 250px;
}


tr.position {
    cursor: move;
}

.pos_btns {
    border: 0;
    text-align: left;
}

.pos_price,
.pos_amount {
    text-align: right;
}

button,
select,
.header {
    cursor: pointer;
}

.add_btn,
.add_category_btn {
    background-color: rgb(159, 217, 159);
}

.delete_all_btn,
.discard_category_btn {
    background-color: rgb(238, 138, 138);
}

.delete_btn {
    color: rgb(252, 4, 4);
}

.edit_btn {
    color: rgb(69, 55, 27);
}

.create_category_btn {
    background-color: rgb(227, 227, 152);
}


#no_positions_msg {
    color: rgb(205, 53, 53);
    text-align: center;
}

.down {
    width: fit-content
}

.header_table_area {
    display: inline-block;
    margin-right: 5px;
}

button,
input,
textarea,
select {
    height: 25px;
    border: 1px solid black;
    outline: none;
}

textarea {
    width: 300px
}

button {
    border-radius: 5px;
}

button:hover {
    box-shadow: 0 0 7px 2px rgb(175, 169, 163);
}

#print_btn {
    font-size: 20px;
    border-radius: 5px;
    transition-duration: 0.3s;
    height: 35px
}

#print_btn:hover {
    border-radius: 8px;
}

#filter_show_area {
    padding-right: 10px;
}

#show_amount_f {
    margin-top: 0;
}

.p_area {
    margin-top: 1px
}

::placeholder {
    color: black;
}

/* printing */
@media print {
    body {
        display: flex;
        flex-direction: row;
    }

    .up,
    .middle,
    .header_table_area,
    #print_btn,
    .edit_btn,
    .delete_btn,
    .filter_category_div,
    #filter_name_input,
    .clear_filters_btn {
        display: none;
    }

    h2,
    span,
    #table_id * {
        background-color: white;
    }

    h1,
    h2,
    span {
        font-size: 20px;
    }

    #filter_show_area {
        padding-right: 10px;
    }

}