@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    /* border: 2px solid blue; */
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(231, 225, 218);
}


.list_area {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
}

.up,
.nav_area {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
}

.hidden {
    display: none;
}

td,
th {
    hyphens: auto;
    word-wrap: break-word;
    max-width: 350px;
    min-width: 100px;
    padding: 5px
}

table,
td {
    border-collapse: collapse;
    border: 1px solid black;

}

.pos_btns {
    min-width: inherit;
}

.pos_price {
    text-align: center;
}

.add_btn {
    background-color: rgb(159, 217, 159);
}

.delete_all_btn {
    background-color: rgb(238, 138, 138);
}

.delete_btn {
    color: rgb(252, 4, 4);
}

.edit_btn {
    color: rgb(69, 55, 27);
}

#no_positions_msg {
    color: rgb(205, 53, 53);
    text-align: center;
}

.down {
    width: fit-content
}