@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    border: 2px solid blue;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hidden {
    display: none;
}

p {
    hyphens: auto;
    word-wrap: break-word;
}

.nav {
    width: 300px
}

.cat {
    width: 220px;
}

.digits {
    width: 200px
}

.list_area,
.position_area {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
}

.up,
.nav_area,
.nav_list,
.position {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
}

.down .nav_list_header_category,
.pos_category {
    width: 200px
}

.down .nav_list_header_name,
.pos_name {
    width: 200px
}

.down .nav_list_header_desc,
.pos_desc {
    width: 250px
}

.down .nav_list_header_amount,
.pos_amount {
    width: 50px
}

.down .nav_list_header_price,
.pos_price {
    width: 110px
}